.gradle
/local.properties
/.idea/*
.DS_Store
/build

/StackBlur/build/*
/StackBlurDemo/build/*
/StackBlur/obj/local/**/*

/DaoTest/build
/sample/build
/library/build
/williamchartLibrary/build
/williamchartSample/build
/androidsimple/build

*.iml
