.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/StackBlur/build/*
/StackBlurDemo/build/*
/StackBlur/obj/local/**/*

/.idea/**/*
/DaoTest/build
/sample/build
/library/build
/williamchartLibrary/build
/williamchartSample/build
/androidsimple/build
